.container {
    display: flex;
    height: 20rem;
    gap: 1rem;
    margin-top: 10rem;
    background-color: khaki;
  }
  .container > div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 0.1.4);
  }
  .container > div:hover {
    flex: 5;
    border-radius: 1rem;
  }
  .img1 {
    background-image: url("https://cdn.fstoppers.com/styles/xlarge/s3/photos/171592/03/05/cc80733131d3b279442a832076d5078c.jpg");
  }
  .img2 {
    background-image: url("https://cdn.fstoppers.com/styles/xlarge/s3/photos/171592/01/28/b76b365796c612c7ec3c3a2a168fd7db.jpg");
  }
  .img3 {
    background-image: url("https://cdn.fstoppers.com/styles/xlarge/s3/photos/171592/11/17/7e70b502e8e1d05c34cf235521c16a3a.jpg");
  }
  .img4 {
    background-image: url("https://cdn.fstoppers.com/styles/xlarge/s3/photos/171592/02/16/8f24cff36c6f92f5a6262bbcca0107a2.jpg");
  }
  .img5 {
    background-image: url("https://cdn.fstoppers.com/styles/xlarge/s3/photos/190366/02/09/6fea52b92e625ae2b579d7c76418af10.jpg");
  }
  